
<form class="form" #f="ngForm" (ngSubmit)="save(f.value)">
	<div>
		<mat-form-field class="form-full-width">
			<input ngModel name="title" id="title" matInput placeholder="Title">
			<mat-error *ngIf="emailFormControl.hasError('required')">
				Field is <strong>required</strong>
			</mat-error>
		</mat-form-field>
	</div>

	<div>
		<mat-form-field class="form-full-width">
			<input ngModel name="price" id="price" type="number" matInput placeholder="Price">
			<span matPrefix>$&nbsp;</span>
			<span matSuffix>.00</span>
		</mat-form-field>
	</div>
	<mat-form-field class="form-full-width">
		<mat-select  ngModel name="category" id="category" placeholder="Category">
			<mat-option *ngFor="let c of categories$ | async" [value]="c.name">
				{{ c.name }}
			</mat-option>
		</mat-select>
	</mat-form-field>


	<div>
		<mat-form-field class="form-full-width">
			<input ngModel name="imageUrl" id="imageUrl" matInput placeholder="Image Url">
		</mat-form-field>
	</div>

	<div>
		<button type="submit" mat-raised-button color="primary">Submit</button>
	</div>

</form>

