<p>
	<a routerLink="/admin/products/new"><button mat-raised-button color="primary">New Product</button></a>
</p>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">

	<!--- Note that these columns can be defined in any order.
	The actual rendered columns are set as a property on the row definition" -->

	<ng-container matColumnDef="title">
		<th mat-header-cell *matHeaderCellDef> Title </th>
		<td mat-cell *matCellDef="let element"> {{element.title}} </td>
	</ng-container>

	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef> Price </th>
		<td mat-cell *matCellDef="let element"> {{element.price}} </td>
	</ng-container>

	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef> Category </th>
		<td mat-cell *matCellDef="let element"> {{element.category}} </td>
	</ng-container>

	<ng-container matColumnDef="edit">
		<th mat-header-cell *matHeaderCellDef> Edit </th>
		<td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/products/', element.id ]"><button mat-raised-button color="primary">Edit</button></a></td>
	</ng-container>

	<ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> Delete </th>
		<td mat-cell *matCellDef="let element"><button type="button" (click)="delete( element.id )" mat-raised-button color="warn">Delete</button></td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


