<div class="row" id="center">
	<mat-spinner *ngIf="products$?.length === 0 || categories$?.length === 0; else content"></mat-spinner>
</div>

<ng-template #content>
	<div class="row">
		<mat-tab-group (click)="getDataForCategory( 'allProducts' )">
			<mat-tab label="All Products"></mat-tab>
		</mat-tab-group>
		<mat-tab-group (click)="getDataForCategory( category.name )" *ngFor="let category of categories$">
			<mat-tab label="{{ category.name }}"></mat-tab>
		</mat-tab-group>
	</div>
	<div class="row">
		<div *ngFor="let p of products$"  class="col-4 margin">
			<product-card [product]="p"></product-card>
		</div>
	</div>
</ng-template>

